.main-wrapper {
  max-width: 933px;
  height: auto;
  padding: 30px;
  margin: 50px auto;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px #777;

  .content {
    margin-bottom: 15px;
  }

  .user-calendar {
    display: flex;
    justify-content: center;
    padding: 15px;
    color: white;
    background-color: #343434;

    svg.react-github-calendar__calendar text {
      fill: white !important;
    }
  }

  .user-content {
    display: flex;
    border: 1px solid #ccc;
    padding: 15px;

    img {
      width: 150px;
      filter: sepia(100%);
      transition-duration: 0.2s;
      cursor: pointer;
    }

    .img-detail {
      background-color: #ccc;
      font-size: 0.8rem;
      font-weight: bold;
      text-align: center;

      .img-name {
        transition-duration: 0.2s;
        padding-top: 12px;
      }

      a {
        &:visited {
          color: @main-text;
        }
      }

      &:hover {
        background-color: dodgerblue;
        img {
          filter: sepia(0);
        }

        .img-name {
          background-color: dodgerblue;
          color: white;
        }

        a {
          color: white;
          text-decoration: underline;
        }
      }
    }

    .user-detail {
      padding: 0 15px;
      background-color: #f5f5f5;
      margin-left: 15px;
      width: 100%;

      h4 {
        margin: 12px 0;
        color: darken(slategrey, 20%);
        text-decoration: underline;
      }

      ul {
        padding-left: 0;
        li {
          list-style: none;
          font-size: 0.95rem;
          line-height: 1.4rem;
        }
      }

      .follow-link {
        font-size: 0.85rem;
        font-weight: bold;
        padding: 8px 20px;
        background-color: green;
        width: fit-content;
        color: white;
        border-radius: 4px;
        transition-duration: 0.2s;
        cursor: pointer;

        &:hover {
          background-color: lighten(green, 10%);
        }
      }
    }
  }
}
